<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymth:srcf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/partials/_headTag :: _headTag"/>

    <!-- Custom stylesheet for this page-->
    <th:block layout:fragment="stylesheet_custom"/>
    <!-- End custom stylesheet for this page-->
    <script src="https://kit.fontawesome.com/f4bb5974c6.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-scroller d-flex">
    <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
        <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
            <div class="row flex-grow">
                <div class="col-lg-6 d-flex align-items-center justify-content-center">
                    <div class="auth-form-transparent text-left p-3">
                        <div class="card bg-transparent border-0">
                            <div class="card-body p-0">
                                <div class="media">
                                    <img class="d-flex align-self-center mr-3 brand-logo"
                                         th:src="@{/assets/images/logo-mini.svg}" alt="logo"/>
                                    <div class="media-body align-self-center">
                                        <h4 class="card-text" layout:fragment="form_title"></h4>
                                        <h6 layout:fragment="form_sub_title"
                                            class="font-weight-light card-text"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form layout:fragment="content" class="pt-3"></form>
                    </div>
                </div>
                <th:block layout:fragment="half_background"/>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- base:js -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- end base:js -->

<!-- Plugin js for this page-->
<th:block layout:fragment="script_plugin"/>
<!-- End plugin js for this page-->

<!-- inject:js -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/template.js}"></script>
<!-- end inject:js -->


<!-- Custom js for this page-->
<th:block layout:fragment="script_custom"/>
<!-- End custom js for this page-->

</body>

</html>
