<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymth:srcf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/partials/_errorHeadTag :: _errorHeadTag"/>

    <!-- Custom stylesheet for this page-->
    <th:block layout:fragment="stylesheet_custom"/>
    <!-- End custom stylesheet for this page-->
    <script src="https://kit.fontawesome.com/f4bb5974c6.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div th:class="${'content-wrapper d-flex align-items-center text-center error-page'
                + (status < 500? ' bg-info' : ' bg-primary')}">
            <div class="row flex-grow">
                <div class="col-xl-7 mx-auto text-white">
                    <div class="row align-items-center d-flex flex-row">
                        <div class="col-xl-6 text-xl-right pr-xl-4">
                            <h1 class="display-1 mb-0">
                                <th:block layout:fragment="status"></th:block>
                            </h1>
                        </div>
                        <div class="col-xl-6 error-page-divider text-xl-left pl-xl-4">
                            <h2>SORRY!</h2>
                            <h3 class="font-weight-light">
                                <th:block layout:fragment="message"></th:block>
                            </h3>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 text-center mt-xl-2">
                            <a class="text-white font-weight-medium" th:href="@{/}">Back to home</a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 mt-xl-2">
                            <p class="text-white font-weight-medium text-center">Copyright &copy; 2018 All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- base:js -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- end base:js -->

<!-- Plugin js for this page-->
<th:block layout:fragment="script_plugin"/>
<!-- End plugin js for this page-->

<!-- inject:js -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/template.js}"></script>
<!-- end inject:js -->


<!-- Custom js for this page-->
<th:block layout:fragment="script_custom"/>
<!-- End custom js for this page-->

</body>

</html>
